.cats__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cat__card {
    width: calc(100% / 5 - 20px);
    min-height: 225px;
    background-size: cover;
    margin-top: 52px;
}
